Facturacion3/.vs
Facturacion3/Facturacion3/obj
Clientes/.vs
Clientes/Clientes/obj
ConfiguracionesDeCuenta/.vs
ConfiguracionesDeCuenta/ConfiguracionesDeCuenta/obj
Factura2/.vs
Factura2/Factura2/obj
Facturacion/.vs
Facturacion/Facturacion/obj
Gatos/.vs
Gastos/Gastos/obj
ListadoFacturas/.vs
ListadoFacturas/ListadoFacturas/obj
Menu/.vs
Menu/Menu/obj
MenuTree/.vs
MenuTree/MenuTree/obj
Polleria/.vs
Polleria/Pelleria/obj
Remitos/.vs
Remitos/Remitos/obj
RetirosYPagos/.vs
RetirosYPagos/RetirosYPagos/obj
Stock/.vs
Stock/Stock/obj
Suppliers/.vs
Suppliers/Suppliers/obj
Suppliers/Data/.vs
Suppliers/Data/obj
Tratamientos/.vs
Tratamientos/Tratamientos/obj
Turnero/.vs
Turnero/Turnero/obj
*.csproj.user
#Ultima actualización 3.28am 2018-10-03
ControladorFiscal/.vs/ControladorFiscal/v15/Server/sqlite3/storage.ide-shm
*.lock
Products/.vs/Products/v15/.suo
Products/.vs/Products/v15/Server/sqlite3/storage.ide
Reportes/.vs
ConfiguracionAlertaStock/.vs/*
*.suo
*.ide
*.cache
*.ide-shm
*.ide-wal
ConsumoLocalStock/.vs/ConsumoLocalStock/DesignTimeBuild/.dtbcache
ArqueoCaja/.vs/ArqueoCaja/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide
ArqueoCaja/.vs/ArqueoCaja/v15/Server/sqlite3/storage.ide
*.ide
ArqueoCaja/.vs/ArqueoCaja/v15/Server/sqlite3/storage.ide-wal
ArqueoCaja/.vs/ArqueoCaja/v15/Server/sqlite3/storage.ide
