**/bin/
**/bin/*
**/.vs/
**/.vs/*
**/.build/
**/.build/*
**/obj/
**/obj/*
*.cache
*.ide-shm
Facturacion3/.vs/Facturacion3/DesignTimeBuild/.dtbcache
Facturacion3/.vs/Facturacion3/v15/.suo
*.ide-wal
Facturacion3/.vs/Facturacion3/v15/Server/sqlite3/storage.ide-shm
